@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lily+Script+One:regular);

:root {
	--purple: #5034A6;
	--soft-blue: #6482FF;
	--peachy-red: #FFA27F;
	--color1: #272D33;
	--color2: #494B55;
	--font-family: 'Nunito', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

.App {
    padding: 2rem 4rem;
    overflow: hidden;
    background-color: var(--color2);
    font-family: var(--font-family);
    transition: 5s ease-in-out;
}
::-webkit-scrollbar {
    background-color: #111111;
    width: 0.2rem;
}
@media screen and (min-width: 350px) and (max-width: 1280px) {
    .App {
        padding: 0;
    }

    .App::-webkit-scrollbar {
        display: none;
    }
}